<h1 class="mb-5">Resend unlock instructions</h1>

<div class="fpc-form">
  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="mb-3">
      <%= f.input :email, required: true, autofocus: true %>
    </div>

    <div>
      <%= f.button :submit, "Resend unlock instructions", class: "btn-primary" %>
    </div>
  <% end %>
</div>

<h2 class="mt-5 mb-3">Having trouble?</h2>
<%= render "devise/shared/links" %>
