<h1 class="mb-5">Change your password</h1>

<div class="fpc-form">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="mb-3">
      <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div class="mb-3">
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
    </div>

    <div class="mb-3">
      <%= f.button :submit, "Change my password", class: "btn-primary" %>
    </div>
  <% end %>
</div>

<h2 class="mt-5 mb-3">Having trouble?</h2>
<%= render "devise/shared/links" %>
