<h1 class="mb-5">Log in</h1>

<div class="fpc-form">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
      <%= f.input :email, required: false, autofocus: true %>
    </div>
    <div class="mb-4">
      <%= f.input :password, required: false %>
    </div>
    <div class="mb-3">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div>
      <%= f.button :submit, "Log in", class: "btn-primary" %>
    </div>
  <% end %>
</div>

<h2 class="mt-5 mb-3">Having trouble?</h2>
<%= render "devise/shared/links" %>
