<h1 class="mb-5">Sign up</h1>

<div class="fpc-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="mb-3">
      <%= f.input :email, required: true, autofocus: true %>
    </div>
    <div class="mb-3">
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div class="mb-3">
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="mb-3">
      <%= f.input :bot_field, as: :boolean, label: "Tick this box if you are a bot", input_html: { tabindex: "-1" } %>
    </div>
    <div class="mb-3">
      <%= f.button :submit, "Sign up", class: "btn-primary" %>
    </div>

    <div class="alert alert-info">
      You will receive an email to confirm your account. Please check your spam folder if it doesn't
      arrive shortly!
    </div>
  <% end %>

</div>

<h2 class="mt-5 mb-3">Having trouble?</h2>
<%= render "devise/shared/links" %>
