<h1 class="mb-5">Sign up</h1>

<div class="fpc-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="mb-3">
      <%= f.input :email, required: true, autofocus: true %>
    </div>
    <div class="mb-3">
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div class="mb-3">
      <%= f.input :password_confirmation, required: true %>
    </div>
    <script src="https://js.hcaptcha.com/1/api.js?onload=disable" async defer></script>
    <script type="text/javascript">
      var validCaptcha = false;
      function disable() {
        $('form [type=submit]').attr('disabled', 'disabled')
        validCaptcha = false;
      }

      function enable() {
        $('form [type=submit]').removeAttr('disabled')
        validCaptcha = true;
      }

      $(function() {
        $('form').on('submit', function(event) {
          if (!validCaptcha) event.preventDefault();
        })
      });
    </script>
    <div class="mb-3">
      <div
        class="h-captcha"
        data-sitekey="<%= ENV['HCAPTCHA_SITE_KEY'] %>"
        data-callback="enable"
        data-expired-callback="disable"
        data-chalexpired-callback="disable"
      ></div>
    </div>
    <div class="mb-3">
      <%= f.button :submit, "Sign up", class: "btn-success" %>
    </div>

    <div class="alert alert-info">
      You will receive an email to confirm your account. Please check your spam folder if it doesn't
      arrive shortly!
    </div>
  <% end %>

</div>

<h2 class="mt-5 mb-3">Having trouble?</h2>
<%= render "devise/shared/links" %>
